<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>BDG Club</title>
  <script src="/js/block.js"></script>
  
   <script>
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/GetUserInfo",
                    dataType: "json",
                    success: function (response) {
                        let user = response.data;

                        $('.moneyu').text("₹" + user.money_user + ".00");


                    }
                });

          


            </script>
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/modules-3ee1a0d5.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/native/index-09743dd6.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/en-cff984dc.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/rus-ecb14220.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/vi-edb4f658.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/id-16b6cb52.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/hd-c5b1d7e8.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/tha-330057b2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/md-e8a5e3b0.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/bra-e19d7dd2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/my-32fb9d60.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/bdt-d8f19d0c.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/zh-116b9972.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/pak-656a575f.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/ar-1c9ff85b.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/page-activity-b0cc3a5b.js"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/modules-b642e9bc.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-activity-f0ca3544.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/index-37794937.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/reset-18dc7e67.css">
  <link rel="stylesheet" href="https://91club06.com/assets/css/reset-caf052b6.css">
  <link rel="stylesheet" href="https://91club06.com/assets/css/root-a9d5bd50.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/page-home-d40a6f97.js">
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-home-384125d0.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/home-c399e427.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/activity-f120a1f9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/promotion-cfd8aaa9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/wallet-4bef7d62.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/main-1686ee63.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/page-login-95ed0718.js">
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-login-c969a7dc.css">
 
  
  
  
  
  <link rel="stylesheet" href="/css/bet/wingo/main.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #090909;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>

      <style>
        /* The Modal (background) */
        .modal {
            display: blocked; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 20001; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
        }
        .text-over-image {
            position: absolute; /* Position relative to the parent element */
            top: 35%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 24px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        .text-over-image-l {
            position: absolute; /* Position relative to the parent element */
            top: 48%; /* Center vertically */
            left: 49%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 10px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        /* Modal Content */
        .modal-content {
            text-align: -webkit-center;
            position: relative;
            top: 20%;
        }
        .modal-content img {
            width: 280px; /* Use this to ensure the image is full width */
            height: auto; /* Adjust height automatically */
            display: block; /* Change display to block to avoid extra space */
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /* Circle button style */
        .close-btn {
            border: 2px solid #fff; /* Black border */
            border-radius: 50%; /* Circle shape */
            background-color: transparent; /* Transparent background */
            width: 30px; /* Width and height should be equal for a circle */
            height: 30px; /* Width and height should be equal for a circle */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 10px;
        }

        .close-btn:hover {
            background-color: #ddd; /* Light grey background on hover */
        }

        /* "X" line style */
        .close-x {
            font-size: 35px; /* Large font size for the "X" */
            font-family: none;
            line-height: 1; /* Tight line height for the "X" */
            color: #fff; /* Black color for the "X" */
            padding: 0; /* No padding */
            margin: 0; /* No margin */
        }
        .text-over-image-2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
 .text-over-image-3 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8c4500;
    font-size: 12px;
    font-weight: none;
    text-align: center;
}
.btn-boox {
        background: linear-gradient(to bottom, #20d90a, #aae69d);
        border: none;
        color: white;
        padding: 5px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 4px;
        cursor: pointer;
        font-family: monospace;
        border-radius: 5px; 
}
    </style>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Esp Game</title>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }

    .d-none {
      display: none !important;
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-03b808c2="" class="mian game">
      <div data-v-106b99c8="" data-v-03b808c2="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center"><img data-v-03b808c2=""
              data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back"></div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center"><h3>BDG Club</h3>
            <!-- <img data-v-03b808c2="" data-v-106b99c8="" height="38px" width="100px" src="/images/big-champ.png"
              class="logo" style="height: 2.00333rem!important;"> -->
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center"
              onclick="location.href='/keFuMenu'">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
            
<div data-v-03b808c2="" clas="game-head">
  
      <!---------->
      <div data-v-a9660e98="" class="game-head">
     <div data-v-7dd1adab="" data-v-5d71c3fd="" clas="Wallet__C">
     <div data-v-7dd1adab="" class="Wallet__C-balance">
      <div data-v-7dd1adab="" class="Wallet__C-balance-l1">
       <div data-v-7dd1adab="" class="moneyu">
        ₹0.00
       </div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l2">
       <div data-v-7dd1adab="">
        Wallet balance
       </div>
      </div>
      <div data-v-7dd1adab="" class="Wallet__C-balance-l3">
       <div data-v-7dd1adab="" onclick="location.href='/wallet/withdrawal'">
        Withdraw
       </div>
       <div data-v-7dd1adab="" onclick="location.href='/wallet/recharge'">
        Deposit
       </div>
      </div>
     </div>
    </div>
    <div data-v-a9660e98="" class="m-t-15 notice">
     <div data-v-5d71c3fd="" class="noticeBar__container">
     <div class="notice_svg"></div>
     <div class="noticeBar__container-body">
      <div class="noticeBar__container-body-text">
       Welcome to 91club! We have a variety of games, promos and bonus for you to enjoy, so why wait? Go register and enjoy the variety reward awaits you.
      </div>
     </div>
     <button class="hotIcon">Detail</button>
    </div>
    </div>
</div>

        <%- include('element/betting.ejs') -%>
          <%- include('element/listOrder.ejs') -%>
            <%- include('element/popupJoin.ejs') -%>
              <%- include('element/quytac.ejs') -%>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="/k3/js/main.js"></script>
  <script src="/k3/js/chuck.js"></script>
   <script>
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/GetUserInfo",
                    dataType: "json",
                    success: function (response) {
                        let user = response.data;

                        $('.moneyu').text("₹" + user.money_user + ".00");


                    }
                });

          


            </script>
</body>

</html>